body{
    margin : 0;
    padding: 0;
    background-image: url('img1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: violet;
}
.submit {
    line-height: 35px;
    
    margin: 0;
    padding: 0 20px;
  
    color: #fff;
    background-color: #FF1717;
    font-weight: bold;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    white-space: nowrap;

  }
  .deposit{
    line-height: 35px;
    width: 54%;
    margin: 0;
    padding: 0 10px;
    
    background-color: #f8f8f8;
    
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
 .deposit,.submit {
   
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-family: inherit;
    font-size: inherit;
  }
  .f{
   
    opacity: 0.9;
    margin-left: 38%;
    margin-top: 21%;
    margin-right: 18%;
  }
  .bu{
    line-height: 35px;
    opacity: 0.9;
    margin: 0;
    padding: 0 20px;
  
    color: #fff;
    background-color: #FF1717;
    font-weight: bold;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-radius: 1em;
    white-space: nowrap;
    
    margin-left: 87%;
    width: 12%;
  }
  .bal{
    text-transform: uppercase;
    color: rgb(2, 230, 238);
    font-weight: bolder;
  }