body{
    margin: 0;
    padding: 0;
    font-family:Baloo;
}
.text{
    text-transform: uppercase;
     }
.text ul{
    float: right;
    height: 50px;
    color:rgba(255, 255, 255, 0.623);
    font-weight: bold;
}   
.text ul li{
    display:inline-block;
    padding: 40px ;
}
.text h2{
    position: absolute;
    top:30%;
    left: 37%;
    font-size: 80px;
   
    color: rgba(255, 255, 255, 0.849);
}

.animated{
    background: linear-gradient(to left,rgb(109, 8, 109),rgba(116, 19, 19, 0.877) );
    width: 100%;
    height: 100%;

}
.box{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.box .b{
    position: relative;
    top: 380px;
    left:640px;
    
  }
.box li{
    position:absolute;
    display:block;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.205);
    animation: animate 20s linear infinite;
    bottom:-180;
}
.box li:nth-child(1){
    left: 86%;
    width:80px;
    height:80px;
    animation-delay: 0s;
}
.box li:nth-child(2){
    left: 72%;
    width:100px;
    height:100px;
    animation-delay: 3s;
}
.box li:nth-child(3){
    left: 55%;
    width:68px;
    height:68px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box li:nth-child(4){
    left: 35%;
    width:150px;
    height:150px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box li:nth-child(5){
    left: 20%;
    width:65px;
    height:65px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box li:nth-child(6){
    left: 8%;
    width:120px;
    height:120px;
    animation-delay: 3.5s;
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
    }
}