{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'select.css' %}"/>
    <title>Select</title>
</head>
<body> 
    <div class="buttons">
        <div class="span1">
            <a href="deposit">
                <i>

                    DEPOSIT
                </i>
                <div class="clear"></div>
            </a>
        </div>
        <div class="clear"></div>
        <div class="span2">
            <a href="withdraw">
                <i>

                    WITHDRAW
                </i>
                <div class="clear"></div>
            </a>
        </div>
        <div class="span3">
            <a href="showinfo">
                <i>

                    SHOW INFO
                </i>
                <div class="clear"></div>
            </a>
        </div>
        <div class="span4">
            <a href="home">
                <i>

                    LOGOUT
                </i>
                <div class="clear"></div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    
</body>
</html>